# API Configuration
API_BASE_URL=https://api.poiskkino.dev
API_TOKEN=your_api_token_here

# UI Configuration (опционально, не используется в текущей версии)
UI_BASE_URL=https://www.kinopoisk.ru
UI_LOGIN=your_login_here
UI_PASSWORD=your_password_here

# Test Data
TEST_FILM_ID=258687
TEST_FILM_NAME=Интерстеллар
TEST_FILM_YEAR=2014
